.question-analysis {
  text-align: center;
}

.answer-keyword-match-a {
  padding: 0 5px;
  font-size: 16px;
  border-radius: 5px;
  font-weight: bold;
  color: #ffffff;
  background-color: #1789fc;
}

.answer-keyword-match-b {
  padding: 0 5px;
  font-size: 16px;
  border-radius: 5px;
  font-weight: bold;
  color: #ffffff;
  background-color: #04db61;
}

.answer-keyword-match-c {
  padding: 0 5px;
  font-size: 16px;
  border-radius: 5px;
  font-weight: bold;
  color: #ffffff;
  background-color: #bf0603;
}

.q-k-match {
  padding: 0 2px;
  border-radius: 5px;
  font-weight: bold;
  color: #ffffff;
  background-color: black;
}

.occurrences-a {
  margin: 5px;
  background-color: #688ea9;
  border: 3px solid #1789fc;
  border-radius: 8px;
  font-size: 14px;
  padding: 0 2px;
}

.occurrences-b {
  margin: 5px;
  background-color: #bfee9c;
  border: 3px solid #04db61;
  border-radius: 8px;
  font-size: 14px;
  padding: 0 2px;
}

.occurrences-c {
  margin: 5px;
  background-color: #ffadb5;
  border: 3px solid #bf0603;
  border-radius: 8px;
  font-size: 14px;
  padding: 0 2px;
}

.match-container p {
  line-height: 20px;
  margin: 0 10px 5px !important;
  display: inline-block !important;
}

.entry {
  background-color: white;
}

.search-title {
  text-align: center;
}

.a {
  background-color: #1789fc;
  color: white;
}

.b {
  background-color: #04db61;
  color: white;
}

.c {
  background-color: #bf0603;
  color: white;
}

.result-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 250px;
  max-width: 95%;
  margin-bottom: 15px;
  border: 1px solid #ffffff;
}

.result-image-main {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: auto;
  max-height: 200px;
  border: 1px solid #ffffff;
}

.spaced {
  margin-bottom: 15px !important;
}

.reverse-results-container {
  padding: 20px;
  background-color: #ecfff8;
}

.reverse-results-container h1 {
  font-size: 30px;
  text-align: center;
  border: 3px solid black;
}

.reverse-top-results {
  border: 1px solid #e9e9e9;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 30px;
}

.reverse-occurrence-results {
  border: 1px solid #e9e9e9;
  font-size: 15px;
  padding: 15px;
}

.extra-image {
  display: block;
  margin: 15px auto;
  width: 95%;
  height: auto;
  border: 1px solid #000000;
}

.stats {
  padding: 10px 30px 5px 10px;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 10px;
}

.stat {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: chartreuse;
}

.query-input {
  padding: 5px;
  border-radius: 3px;
  display: block;
  width: 90%;
  margin: 10px auto;
}
